body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: radial-gradient(circle at center, red,purple, orange, yellow);
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  margin: 50px;
  font-size: 3rem;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(128, 128, 128, 0.719);
  margin-bottom: 25px;
  border-radius: 50%;
  transition: 0.25s ease;
}

.color-display p {
  font-size: 1.2rem;
  text-align:center;
}

label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type = "color"]{
  width: 75px;
  height: 50px;
  padding: none;
  border: none;
  border-radius: 5px;
}