.card{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(46, 31, 31, 0.493);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-img{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin: 10px;
}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  color: black;
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.74);
}