.counter-container{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.count-display{
  font-size: 10em;
  margin-top: 0px;
  margin-bottom: 50px;
}
.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0px 5px;
  border: none;
  border-radius: 10px;
  color: beige;
  background-color:black;
  cursor: pointer;
}
.counter-button:hover{
  transition: .5s;
}
#b1:hover{
  background-color: red;
}
#b2:hover{
  background-color: sandybrown;
}
#b3:hover{
  background-color: green;
}