.list-category{
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid ;
    border-radius: 10px;
    background-color:brown;
    padding: 8px;
}

.list-items{
    font-size: 2em;
    list-style: none;
    text-align: center;
    margin: 0px;
}

.list-items li:hover{
    color: rgba(65, 41, 41, 0.616);
    cursor: pointer;
}