.welcome-message{
  font-size: 2em;
  background-color: rebeccapurple;
  color: azure;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}

.login-prompt{
  font-size: 2em;
  background-color: rgb(224, 26, 26);
  color: azure;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}